{% extends 'assignment_platform/base.html' %}
{% load staticfiles %}

{% block content %}

	{% if user.is_staff %}

	    {% include "assignment_platform/admin.html" with users=users tasks=tasks%}

	{% else %}

	    {% include "assignment_platform/student.html" with tasks=tasks%}

	{% endif %}

{% endblock %}

{% block javascript %}
{% if user.is_staff %}
		<script src="{% static 'assignment_platform/js/admin.js' %}"></script>
{% else %}
		<script src="{% static 'assignment_platform/js/student.js' %}"></script>
{% endif %}
{% endblock %}
